NEXT_PUBLIC_SITE_URL=https://nexcellence.vercel.app

NEXT_PUBLIC_SUPABASE_URL=https://elevsfrjgtkjwchlqzmd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVsZXZzZnJqZ3RrandjaGxxem1kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5NTgzMjgsImV4cCI6MjA5MDUzNDMyOH0.tZo13FGOtFEiRf2EwT894JqMtxP_Cx-s4Bt9WmRbHwc
SUPABASE_SERVICE_ROLE_KEY=

STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret

RESEND_API_KEY=your_resend_api_key
ADMIN_EMAIL=admin@nexcellenceacademy.com

ANTHROPIC_API_KEY=your_anthropic_api_key
